:root {
--color00: #282828;
--color01: #32302f;
--color02: #3c3836;
--color03: #504945;
--color04: #928374;
--color05: #d4be98;
--color06: #e2cca9;
--color07: #e2cca9;
--color08: #ea6962;
--color09: #e78a4e;
--color0A: #d8a657;
--color0B: #a9b665;
--color0C: #89b482;
--color0D: #7daea3;
--color0E: #d3869b;
--color0F: #ea6962;
}
